* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: calc(2vmin);
  flex-shrink: 0;
}

#root {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

body.light-mode {
  background: black;
  border: #333333;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  flex-shrink: 0;
}

.App-link {
  color: #61dafb;
}

.App-content {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue-arrow-icon {
  background-repeat: no-repeat;
  display: block;
}